# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/

# FastAPI / Uvicorn logs and DB
*.log
*.db
*.sqlite3

# Node / JS
node_modules/
dist/
esbuild/
js-yami/
*.lock
*.log

# IDE / editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Environment files
.env

# Testing / coverage
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
.mypy_cache/

# Runtime data files
consents.json
interactions.json