# =========================
# Environment Variables
# =========================
.env
.env.*
*.local

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Node / Frontend
# =========================
node_modules/
dist/
dist-ssr/
build/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
venv/
env/
*.sqlite3

# =========================
# IDE / Editors
# =========================
.vscode/*
!.vscode/extensions.json
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Visual Studio
# =========================
*.suo
*.ntvs*
*.njsproj
*.sln

# =========================
# Temp files
# =========================
*.sw?