# =========================
# Python Cache
# =========================
__pycache__/
*.py[cod]
*$py.class
*.pyc

# =========================
# Virtual Environments
# =========================
venv/
.venv/

# =========================
# Environment Files
# =========================
.env
.env.*

# =========================
# Logs / Databases
# =========================
*.log
*.sqlite3

# =========================
# Model / Cache Files
# =========================
*.pkl
*.cpython-*

# =========================
# Build Files
# =========================
build/
dist/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db