# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# VS Code
.vscode/

# PyCharm
.idea/

# Logs and database
*.log
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Pickle / model files (optional)
*.pkl
*.cpython-*

# Node modules (frontend)
frontend/node_modules/