fastapi
uvicorn
python-dotenv
google-auth
openai
pytest
httpx
scikit-learn
openai-whisper
librosa
noisereduce>=3.0.3,<4
opensmile
supabase
gtts
python-multipart
numpy
scikit-learn
reportlab==4.2.0
imageio-ffmpeg
supabase